@charset "utf-8";
body {
  font-family: "Arial", "Meiryo", sans-serif; 
  text-align: center;
} 

html {
  font-size: 2rem;
}


.decoration {
  border: solid 3px rgb(115, 115, 114);
}

style:root {
  font-size: 20px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2em;
  font-style: normal;
  text-align: center;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray
}

h1 class {
  border-style: solid;
  border: 3px;
  border-bottom-color: rgb(115, 115, 114);
} 


.text-skybule {
  color: skyblue;
}

.text-pink {
  color: rgb(255, 192, 203); 
}

span.skyblue {
  color: skyblue;
}

span.pink {
   color: rgb(255, 192, 203);
}  

#basic > p {
  font-weight: bold;
}
